body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    padding: 20px;
    background-color: #fff;
}

.screen input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 2em;
    padding-right: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

button {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #e0e0e0;
}

.equal {
    grid-column: span 2;
    background-color: #ff9500;
    color: #fff;
}

.equal:hover {
    background-color: #e68a00;
}